{
  "presets": [
    [
      "@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }
    ]
  ],
  "plugins": [
    ["webpack-alias", {"config": "./webpack.config.js"}]
  ]
}
